body, html {
    height: 100%;
    min-height: 100%;
}

body {
    background: transparent;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(200px);
    transform: perspective(200px);
}

.btn {
    text-decoration: none;
    color: #fff;
    background: #AEBEC7;
    font-size: 12px;
    border-radius: 3px;
    padding: 10px;
    text-transform: uppercase;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 50%;
    top: 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.poster {
    width: 320px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -160px;
    border-radius: 12px;
    box-shadow: 0 45px 100px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    background-color: transparent;
}
.poster .shine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 5%);*/
    /*background: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 5%);
    */
    background-color: transparent;
    z-index: 100;
    opacity:0.5;
}
.poster div[class*="layer-"] {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-size: 94.5% 96%;
    background-repeat: no-repeat;
    background-position: 9px 10px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.poster .layer-1 {
    /*background-image: url("http://designmodo.com/demo/apple-tv-parallax/images/1.png");*/
    background-image: url("../img/bg.png");
}
.poster .layer-2 {
    /*background-image: url("http://designmodo.com/demo/apple-tv-parallax/images/2.png");*/
    /*background-image: url("../img/joy.png");*/
    background-image: url("https://rm-content.s3.amazonaws.com/57c9e8e5b3f4e758009becf5/607911/upload-30698cd0-8a96-11e6-9939-4beab23fb258.png");
    z-index: 1;
}
.poster .layer-3 {
    /*background-image: url("http://designmodo.com/demo/apple-tv-parallax/images/3.png");*/
    /*background-image: url("../img/games.png");*/
    background-image: url("https://rm-content.s3.amazonaws.com/57c9e8e5b3f4e758009becf5/607911/upload-3b476140-8a96-11e6-9029-2db266799c77.png");
    z-index: 1;
}
.poster .layer-4 {
    /*background-image: url("http://designmodo.com/demo/apple-tv-parallax/images/4.png");*/
    /*background-image: url("../img/xso.png");*/
    background-image: url("https://rm-content.s3.amazonaws.com/57c9e8e5b3f4e758009becf5/607911/upload-fcc32860-8a94-11e6-9029-2db266799c77.png");
    z-index: 1;
}
.poster .layer-5 {
    /*background-image: url("http://designmodo.com/demo/apple-tv-parallax/images/5.png");*/
    /*background-image: url("../img/sides.png");*/
    background-image: url("https://rm-content.s3.amazonaws.com/57c9e8e5b3f4e758009becf5/607911/upload-0efe8420-8a95-11e6-9939-4beab23fb258.png");
}
.poster .layer-6 {
    /*background-image: url("http://designmodo.com/demo/apple-tv-parallax/images/5.png");*/
    background-image: url("../img/dust.png");
    z-index: 0;
}
.poster .layer-hole {
    /*background-image: url("http://designmodo.com/demo/apple-tv-parallax/images/5.png");*/
    background-image: url("../img/hole.png");
    z-index: 101;
}

