body, html {
  height: 100%;
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom, #f6f7fc 0%,#d5e1e8 40%);
  transform-style: preserve-3d;
  transform: perspective(800px);
}

.btn {
  text-decoration:none;
  color: #fff;
  background: #AEBEC7;
  font-size: 12px;
  border-radius: 3px;
  padding: 10px;
  text-transform: uppercase;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  box-shadow: 0 1px 0 rgba(255,255,255,.5);
  position: absolute; left: 50%;
  top: 10px; transform: translateX(-50%);
}

.poster {
  width: 320px;
  height: 500px;
  position: absolute;
  top: 50%; left: 50%;
  margin: -250px 0 0 -160px;
  border-radius: 5px;
  box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
  overflow:hidden;
  
  .shine {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(135deg, rgba(255,255,255,.5) 0%,rgba(255,255,255,0) 60%);
    z-index: 100;
  }
  
  div[class*="layer-"] {
    position: absolute;
    top: -10px; left: -10px;
    right: -10px; bottom: -10px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0;
    transition:0.1s;
  }
  
  .layer-1 {
     background-image: url('http://designmodo.com/demo/apple-tv-parallax/images/1.png');
  }
  
  .layer-2 {
    background-image: url('http://designmodo.com/demo/apple-tv-parallax/images/2.png');
  }
  
  .layer-3 {
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-image: url('http://designmodo.com/demo/apple-tv-parallax/images/3.png');
  }
  
  .layer-4 {
    background-image: url('http://designmodo.com/demo/apple-tv-parallax/images/4.png');
  }
  
  .layer-5 {    
    background-image: url('http://designmodo.com/demo/apple-tv-parallax/images/5.png');
  }
}